*{
    margin: 0;
    padding: 0;
}
.main-wrapper{
    display: grid;
    margin: 0 auto;
    grid-template-areas: 
    "header header header aside"
    "nav footer  footer  aside"
    "main   main    main   aside"
    
    ;
}
header{
    grid-area: header;
    background-color: darkblue;
}
main{
    grid-area: main;
    background-color: rgb(55, 55, 83);

}
aside{
    grid-area: aside;
    background-color: rgb(39, 39, 109);

}
nav{
    grid-area: nav;
    background-color: rgb(0, 0, 255);

}
footer{
    background-color: rgb(139, 0, 93);
    grid-area: footer;

}