*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Popins' sans-serif;
    background-color: slategrey;
}
a, a:visited{
    color: rgb(27, 27, 27);
    text-decoration: none;
    font-weight: bold;
}
img{
    width: 100%;
    height: 100%;
}
:root{
    --text-primary: rgb(44, 39, 39);
    --text-secondry: #fff;
    --bg-primary: #E07C24;
}
/* basic styles */
.flex-container{
    display: flex;
    align-items: center;
}
/* header styles */
.head-items{
    justify-content: space-between;
    margin-bottom: 10px;
}
.logo a{
    text-transform: uppercase;
}
.search input {
    border: none;
    padding: 4px;
    border-radius: 7px;
    color: var(--text-primary) !important;
  }
.nav-items ul{
    list-style: none;
}
.nav-items ul li{
    padding: 10px;
}
.nav-items ul li:hover{
    background-color: var(--bg-primary);
}
.nav-items ul li a{
    text-transform: uppercase;
}
.adv-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #fff;
    margin-top: 10px;
  }
  /* main content css */
.content-details-area {
    padding: 15px 0;
}
  .topic-title {
    padding: 10px 0;
  }
  .topic-text {
    line-height: 26px;
    color: var(--text-primary);
  }

  #firmware-area {
    padding: 10px 0;
  }
  .files-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .files {
    text-align: center;
    padding: 10px 0;
  }
  .files img {
    width: 150px;
    height: 150px;
  }
  /* aside bar css */
  .side-title {
    padding: 8px 0;
  }
  .side-info ul{
    list-style: none;
  }
  .side-info ul li{
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--bg-primary);
  }
  .side-info ul li:hover a{
    color: var(--text-secondry);
    padding-left: 10px;
    transition: all 0.5s ease-out;
  }
  .side2{
    text-align: center;
  }


  /* grid area define */
header#full-header{
    grid-area: header;
    border-bottom: 2px solid #9b9b9b;
}
.head-adv{
    grid-area: adv;
}
main#main{
    grid-area: main;
    width: calc(100% - 10px);
}
aside#aside {
    grid-area: aside;
    width: 300px;
    background-color: #e6e6e6;
    padding: 10px;
  }
/* grid areas */
.content-wrapper{
    width: 1000px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-sizing: border-box;
    background-color: rgb(228, 217, 228);
    display: grid;
    grid-template-areas:  
    "header  header  header  header"
    "adv  adv  adv  adv"
    "main  main  main  aside"
    ;
}

/* for desktop and monitor */
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    /* basic mediaquery for mobile */
    .content-wrapper{
        width: 100%;
    }
    .content-wrapper{
        width: 100%;
        grid-template-areas:  
        "header"
        "adv"
        "main"
        "aside"
        ;
    }
    .files-items {
        grid-template-columns: repeat(4, 1fr);
      }
      .sidebar-items{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
      }
      aside#aside {
        width: 100%;
      }
}
/* mediaquery for tablet device */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    /* basic mediaquery for mobile */
    .content-wrapper{
        width: 100%;
        grid-template-areas:  
        "header"
        "adv"
        "main"
        "aside"
        ;
    }
    /* header views */
    header#full-header {
        border-bottom: none;
      }
    .head-items{
        flex-direction: column;
    }
    main#main {
        width: 100%;
      }
      .files-items {
        grid-template-columns: repeat(3, 1fr);
      }
      .sidebar-items{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
      }
      aside#aside {
        width: 100%;
      }
}
/* all mediaquery */
@media only screen and (max-width: 576px) {
    /* basic mediaquery for mobile */
    .content-wrapper{
        width: 95%;
        grid-template-areas:  
        "header"
        "adv"
        "main"
        "aside"
        ;
    }
    /* header views */
    header#full-header {
        border-bottom: none;
      }
    .head-items{
        flex-direction: column;
    }
    .nav-items ul {
        flex-direction: column;
      }
      /* main content and sidebar */
      main#main{
        grid-area: main;
        width: calc(100% - 10px);
    }
    aside#aside {
        width: 95%;
        background-color: #e6e6e6;
        padding: 10px;
      }
      .files-items {
        grid-template-columns: repeat(1, 1fr);
      }
      .files img {
        width: 95%;
        height: 150px;
      }








}